<div class="col-lg-12 text-center">
  <h1>
    Acquisition
  </h1>
  <br />
  <table class="table table-responsive table-hover table-striped" aria-labelledby="tableLabel">
    <thead>
      <tr class="text-center">
        <th>TXN ID</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>TXN Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TXN001</td>
        <td>Debit Card</td>
        <td>1000.00</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td>House Tax</td>
      </tr>
      <tr>
        <td>TXN002</td>
        <td>Credit Card</td>
        <td>5000.00</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td>Water Tax</td>
      </tr>
      <tr>
        <td>TXN003</td>
        <td>Cash</td>
        <td>50.00</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td>Electriciy Bill</td>
      </tr>
      <tr>
        <td>TXN004</td>
        <td>NetBanking</td>
        <td>6000.00</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td></td>
      </tr>
      <tr>
        <td>TXN005</td>
        <td>Debit Card</td>
        <td>750.00</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td>Property Tax</td>
      </tr>
    </tbody>
  </table>
</div>


