<div class="row">

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section1</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section2</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section3<br>para2</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section4</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section1</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section2</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section3<br>para2</a>
    <div class="square-img"></div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="margin-top"></div>
    <a href="#x" class="square-text">Section4</a>
    <div class="square-img"></div>
  </div>

</div>
