<div class="col-lg-12 text-center">
  <h1>
    Authorization
  </h1>
  <br />

  <table class="table table-responsive table-hover table-striped" aria-labelledby="tableLabel">
    <thead>
      <tr class="text-center">
        <th></th>
        <th>Sl No</th>
        <th>Transaction ID</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>TXN Date</th>
        <th>Description</th>
        <th>Authorize</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let authorize of authorizes; let i = index">
        <td><input type="checkbox" /></td>
        <td>{{ i+1 }}</td>
        <td>{{ authorize.transactionID }}</td>
        <td>{{ authorize.paymentMethod }}</td>
        <td>{{ authorize.amount }}</td>
        <td>{{ authorize.currency }}</td>
        <td>{{ authorize.transactionDate }}</td>
        <td>{{ authorize.description }}</td>
        <td>
          <select class="form-control">
            <option value="0">--Select--</option>
            <option *ngFor="let status of authorisestatus"
                    value={{status.authorizeStatusID}}>
              {{status.authorizeStatusName}}
            </option>
          </select>
        </td>
      </tr>

      <!--<tr>
        <td><input type="checkbox" /></td>
        <td>Txn10001</td>
        <td>Debit Card</td>
        <td>1000.0</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td>House Tax</td>
        <td>
          <select id="authorize" name="authorize" class="form-control">
            Select
            <option>Approve</option>
            <option>Hold</option>
            <option>Decline</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>Txn10005</td>
        <td>Debit Card</td>
        <td>750.0</td>
        <td>BWP</td>
        <td>01-02-2022</td>
        <td>Propery Tax</td>
        <td>
          <select id="authorize" name="authorize" class="form-control">
            Select
            <option>Approve</option>
            <option>Hold</option>
            <option>Decline</option>
          </select>
        </td>
      </tr>-->
    </tbody>
  </table>
  <div class="row">
    <button type="button" class="btn btn-primary">Post</button>
    <button type="button" class="float-right btn btn-primary">Cancel</button>
  </div>
</div>

