<div class="row">
  <div class="col-lg-12">
    <h4>
      Authorization
    </h4>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <div class="row justify-content-end">
      <div class="col-md-3 input-group mb-1">
        <input type="text" class="form-control" placeholder="Search here" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Search</button>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary mr-3 mb-1">Cancel</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table table-responsive">
      <table class="table table-striped table-bordered" aria-labelledby="tableLabel">
        <thead>
          <tr class="text-center">
            <th>Serial Number</th>
            <th>Transaction ID</th>
            <th>Payment Method</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Transaction Date</th>
            <th>Description</th>
            <th style="min-width:12%">Authorize</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let authorize of authorizes; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ authorize.transactionID }}</td>
            <td>{{ authorize.paymentMethod }}</td>
            <td>{{ authorize.amount }}</td>
            <td>{{ authorize.currency }}</td>
            <td>{{ authorize.transactionDate }}</td>
            <td>{{ authorize.description }}</td>
            <td>
              <select class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let status of authorisestatus"
                        value={{status.authorizeStatusID}} [selected]="status.authorizeStatusID ==authorize.authorizeStatusID"> 
                  {{status.authorizeStatusName}}
                </option>
              </select>
            </td>
            <td>
              <button type="button" class=" btn btn-sm btn-outline-primary m-1" (click)="onAssign(authorize)">Assign Authorization</button>
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="OnSubmit(authorize)">Move</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!--<div class="col-md-12 text-right">
    <button type="button" class="btn btn-outline-primary">Move</button>
    <button type="button" class="btn btn-outline-secondary ml-3">Cancel</button>
  </div>-->

</div>
