<div class="row">
  <div class="col-lg-12">
    <h4>
      Post Incoming Payments
    </h4>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <div class="row justify-content-end">
      <div class="col-md-3 input-group mb-1">
        <input type="text" class="form-control" placeholder="Search here" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Search</button>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary mr-3 mb-1">Cancel</button>
    </div>
  </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'show':showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="showModal=false"></button>
      </div>
      <div class="modal-body">
        Journal entry sucessfully posted
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="showModal=false">Display</button>
        <button type="button" class="btn btn-primary" (click)="showModal=false">Post Next Payment</button>
      </div>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-md-12">
    <div class="table table-responsive">
      <table class="table table-striped table-bordered" aria-labelledby="tableLabel">
        <thead>
          <tr class="text-center">
            <th>Serial Number</th>
            <th>Transaction ID</th>
            <th>Payment Method</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Transaction Date</th>
            <th>Description</th>
            <th>Authorized By</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let authorize of authorizes; let i = index">
            <td>{{i+1 }}</td>
            <td>{{ authorize.transactionID }}</td>
            <td>{{ authorize.paymentMethod }}</td>
            <td>{{ authorize.amount }}</td>
            <td>{{ authorize.currency }}</td>
            <td>{{ authorize.transactionDate }}</td>
            <td>{{ authorize.description  !=null ?authorize.description : "-"}}</td>
            <td>{{ authorize.authorizeStatus !=null? authorize.authorizeStatus.authorizeStatusName : "-"}}</td>
            <td><input type="checkbox" /></td>
            <!--<td>
              <select class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let status of authorisestatus"
                        value={{status.authorizeStatusID}}>
                  {{status.authorizeStatusName}}
                </option>
              </select>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-outline-primary" (click)="onSubmit()">Post</button>
    <!--<button type="button" class="btn btn-outline-primary" (click)="showModal=true" data-toggle="modal" data-target="#myModal">Post</button>-->
    <button type="button" class="btn btn-outline-secondary ml-3">Cancel</button>
  </div>
</div>

<!--Modal-->
<div class="modal" id="myModal" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        Journal entry sucessfully posted
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="showModal=false">Display</button>
        <button type="button" class="btn btn-primary" (click)="showModal=false">Post Next Payment</button>-->
      </div>
    </div>
  </div>
</div>
