<h5>Department</h5>
<br/>
  <div class="col-12 col-lg-9 col-xl-7">
    <div class="section">
      <!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit(Departmentform.value)">
        <div class="container-fluid">
          <div class="form-group">
            <div class="row">
              <div class="col-2">
                <label>Department Name</label>
              </div>
              <div class="col-4">
                <input type="text" name="Department head" class="form-control">
              </div>
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="row">
              <div class="col-2">
                <label>Department head</label>
              </div>
              <div class="col-4">
                <input type="text" list="staticAccounts" class="form-control" />
                <datalist id="staticAccounts">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </datalist>
              </div>
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="row">
              <div class="col-2">
                <label>Department Clerk</label>
              </div>
              <div class="col-4">
                <input type="text" list="staticAccounts" class="form-control" />
                <datalist id="staticAccounts">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </datalist>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-primary ml-3">Cancel</button>
          </div>
        </div>
      </form>-->
    </div>
  </div>
      
      
   
