<div class="col-lg-12 text-center">
  <h1>
    Rule Based Routing
  </h1>
  <br />

  <table class="table table-responsive table-hover table-striped" aria-labelledby="tableLabel">
    <thead>
      <tr class="text-center">
        <th>TXN ID</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>TXN Date</th>
        <th>Description</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.TxnID }}</td>
        <td>{{ role.PaymentMethod }}</td>
        <td>{{ role.amount }}</td>
        <td>{{ role.currency }}</td>
        <td>{{ role.txnDate }}</td>
        <td>{{ role.Description }}</td>
        <td><select id="dept" name="department" class="form-control" ngModel>
                    <option>Select</option></select>
          </td>
      </tr>
    </tbody>
  </table>
</div>



